__pycache__/chapter.cpython-310.pyc
__pycache__/chapter.cpython-311.pyc
__pycache__/output.cpython-310.pyc
__pycache__/output.cpython-311.pyc
__pycache__/scrapper.cpython-310.pyc
__pycache__/scrapper.cpython-311.pyc
__pycache__/util.cpython-310.pyc
__pycache__/util.cpython-311.pyc
__pycache__/chapter.cpython-310.pyc
